<h2>Editing program_category</h2>

<% form_tag :action => 'update', :id => @program_category do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @program_category %> |
<%= link_to 'Back', :action => 'list' %>
