<% for column in ProgramCategory.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @program_category.send(column.name) %>
</p>
<% end %>
<p>
  <b>Vod group:</b> <%=h @program_category.VodGroup.name %>
</p>


<%= link_to 'Edit', :action => 'edit', :id => @program_category %> |
<%= link_to 'Back', :action => 'list' %>
