<% unless @program.nil? %>
VOD|
<%= @vod.id %>|
<%= @vod_format.name %>|
<%= @program.preview_image_offset %>|
<%= @program.preview_video_offset %>|
<%= @vod.full_filename %>|
<%= @program.full_filename %>
<% end %>
