<h2>Editing tape_event_link</h2>

<%= start_form_tag :action => 'update', :id => @tape_event_link %>
  <%= render :partial => 'tapeeventlinks' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<%= link_to 'Show', :action => 'show', :id => @tape_event_link %> |
<%= link_to 'Back', :action => 'list' %>
