<h2>New tape</h2>

<%= start_form_tag :action => 'create' %>
<table>
  <%= render :partial => 'tape' %>
</table>
  <%= submit_tag "Create" %>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'list' %>
