<% for column in Tape.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @tape.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @tape %> |
<%= link_to 'Back', :action => 'list' %>
