<%= error_messages_for 'vod_group_format_link' %>

<p><b>Add VOD format:</b>
<!--[form:event]-->
<%= hidden_field 'vod_group_format_link', 'vod_group_id', :value => @vod_group.id %>

<%= text_field_with_auto_complete :vod_format, :name , :skip_style => true %>

<%= submit_tag "Add" %>
</p>

<!--[eoform:event]-->