<%= error_messages_for 'vod_group' %>

<!--[form:vod_group]-->
<p><label for="vod_group_name">Name</label><br/>
<%= text_field 'vod_group', 'name'  %></p>

<p><label for="vod_group_description">Description</label><br/>
<%= text_area 'vod_group', 'description'  %></p>
<!--[eoform:vod_group]-->

