<h1>Quick links for admin stuff</h1>

<ul>
<li><%= link_to 'Program event links', :controller => 'program_event_links', :action => 'index' %></li>
<li><%= link_to 'Program descriptions', :controller => 'program_descriptions', :action => 'index' %></li>
<li><%= link_to 'File locations', :controller => 'file_locations', :action => 'index' %></li>
<li><%= link_to '', :controller => '', :action => '' %></li>

</ul>
