<% form_tag do -%>
<%= submit_tag "Send emails" %>
<a href="#" onClick="javascript:$$('input').each(function(node){ node.checked = !node.checked; });">Invert selection</a>

<table>
<% @users.each_with_index {|user, index| %>
	<% @current_cycle = cycle('playlist_even', 'playlist_odd') %>
	<tr>
	<td>
	<input name="sendlink[]" type="checkbox" value="<%=user.id%>" /></td>
	<td><%= user.email %></td>
	</tr>
<% } %>
</table>

<%= submit_tag "Send emails" %>
<% end -%>
