<h1>Editing program_event_link</h1>

<%= start_form_tag :action => 'update', :id => @program_event_link %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<%= link_to 'Show', :action => 'show', :id => @program_event_link %> |
<%= link_to 'Back', :action => 'list' %>
