<%= error_messages_for 'program_event_link' %>

<p><b>Add event:</b>
<!--[form:event]-->
<%= hidden_field 'program_event_link', 'program_id', :value => @program.id %>


<%= select("program_event_link", "event_id", Event.find_all.collect {|u| [ u.title, u.id ] }) %>

<%= submit_tag "Add" %>
</p>

<!--[eoform:event]-->
