<h1>Editing program</h1>

<%= start_form_tag :action => 'update', :id => @program %>
  <%= render :partial => 'program' %>
  <%= render :partial => 'program_descriptions/program_descriptions_form', :object => @program.program_descriptions %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<%= link_to 'Show', :action => 'show', :id => @program %> |
<%= link_to 'Back', :action => 'list' %>
