<h1>New program</h1>

<%= start_form_tag :action => 'create' %>
  <%= render :partial => 'program' %>
 
  <%= render :partial => 'program_descriptions/program_descriptions_form', :object => @program_descriptions %>
  <%= submit_tag "Create" %>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'list' %>
