html, body {
  height: 100%; /* Required */
  width: 100%; /* Required */
}

body { 
  background: #fff;
  color: #333;
  margin:  0px;
  padding: 0px;
}

li {
  padding-bottom: 1em;
}

table {
  margin:  0px;
  border-spacing: 0px;
}

table.header_links {
  background: #fff url(/images/topbluefade.gif) repeat-x;
  width:      100%;
  height:     50px;
  text-align: center;
}

tr {
  vertical-align: top;
  margin:  0px;
}
tr.header {
  background: #ddddfe;
}
tr.odd {
  background: #ddddfe;
}
tr.even {
  background: #eaeaff;
}
tr.error { background: #ff4550; }
td.error { background: #ff4550; }
td.error-gap { border-top: 4px solid #ff4550; }

td.header_menu {
  padding-top: 15px;
}

th {
  padding: 7px;
  font-size: 90%;
}
th.edit {
  text-align: right;
}

td {
  padding: 7px;
}
td.edit {
  text-align: left;
}

textarea {
  height: 7em;
  width: 20em;
}

input.time {
  width: 6em;
}
input.text {
  width: 20em;
}

select {
  min-width: 3em;
}

div.listing_content {
  float: left;
}

#content {
  margin:  30px;
  padding-bottom: 5em;
}

#footer {
  clear:      both;
  text-align: right;
  margin:     0;
  padding:    .5em;
  position:   absolute;
  bottom:     0 !important;
  bottom:     -1px; /* For Certain IE widths */
  border-top: 2px solid #ddeafe;
  background: #eff8ff;
  color:      #888;
  left:       0px;
  right:      0px;
}

#container-page {
  margin: 0 auto;
  background: #fff;
  text-align: left;
  position: relative;
  min-height: 100%; /* For Modern Browsers */
  height: auto !important; /* For Modern Browsers */
  height: 100%; /* For IE */
  width: 100%; /* Required */
}

/**
 * Playlist controls
 */
table.playlist {
  width: auto;
}

tr.playlist_header {
  background: #ddddfe;
  font-weight: bold;
  text-align: center;
}
tr.playlist_odd {
  background: url(/images/darkblue.png) repeat;
}
tr.playlist_even {
  background: url(/images/lightblue.png) repeat;
}
#now_playing {
  background: #aaffaa;
}
#coming_soon {
  background: #ffffaa;
}
#past_events {
  background: #eaeaea;
}

td.playlist_cell {
  padding: 4px;
}
td.playlist_error_gap {
  background: #f22;
  border-top:    2px solid #000;
  border-bottom: 2px solid #000;
  color: #fff;
  padding: 0 1em 0 1em;
  text-align: center;
  width: 100px;
}
td.playlist_error_overlap {
  background: #ff2222;
  color: #ffffff;
  font-weight: bold;
  padding: 0 1em 0 1em;
  text-align: center;
}

/**
 * Playlist controls
 */
div.playlist {
  display: table;
  width: auto;
}

div.playlist_header {
  background: #ddddfe;
  display: table-row;
  font-weight: bold;
  text-align: center;
}
div.playlist_odd {
  background: url(/images/darkbluefade.png) repeat-x;
  display: table-row;
}
div.playlist_even {
  background: url(/images/bluefade.png) repeat-x;
  display: table-row;
}

div.playlist_cell {
  display: table-cell;
  padding: 2px;
}
div#error {
  background: #ff2222;
  color: #ffffff;
}
div.playlist_error_gap {
  background: #ff2222;
  display: table-cell;
  color: #ffffff;
  padding: 0 1em 0 1em;
  text-align: center;
}
div.playlist_error_overlap {
  background: #ff2222;
  display: table-cell;
  color: #ffffff;
  font-weight: bold;
  padding: 0 1em 0 1em;
  text-align: center;
}


div.events_in_program_list {
  margin-left: 30px;
  width: 50%;
  float: left;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
  float: none;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { 
  color: #000;
  text-decoration: underline;
}

a:visited {
  color: #000;
  text-decoration: underline;
}

a:hover {
  color: #fff;
  background-color:#000;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.flash {
  color: green;
  height: 15px;
  margin-bottom: -15px;
  padding-left: 30px;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid grey;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

