<p><b>Events</b></p>
<table>
  <% offset = 0 %>
  <tr class="header">
     <td>Name</td>
  </tr>
      <% for event in events %>
      <tr class="<%= @current_cycle = cycle('even', 'odd') %>">
        <td>
        <%= link_to event.title, 
                  :controller => 'events', 
                  :action => 'show', 
                  :id => event.id %>
        </td>
      </tr>
      <% end %>
    </table>
  </td>
</tr>
