<p><b>Programs</b></p>
<table>
  <% offset = 0 %>
  <tr class="header">
     <td>Name</td>
  </tr>
      <% for program in programs %>
      <tr class="<%= @current_cycle = cycle('even', 'odd') %>">
        <td>
        <%= link_to program.title, 
                  :controller => 'programs', 
                  :action => 'show', 
                  :id => program.id %>
        </td>
      </tr>
      <% end %>
    </table>
  </td>
</tr>
