<h2>Editing file_location</h2>

<%= start_form_tag :action => 'update', :id => @file_location %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<%= link_to 'Show', :action => 'show', :id => @file_location %> |
<a href="#" onClick="javascript:history.back(-1)">Back</a>
