<% for column in FileLocation.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @file_location.send(column.name) %>
</p>
<% end %>

<% if @file_location.works? %>
<p>Works!</p>
<% else %>
<p>Broken!</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @file_location %> |
<a href="#" onClick="javascript:history.back(-1)">Back</a>

<%= render :partial => 'programs', :object => @programs %>

<%= render :partial => 'events', :object => @events %>


