<p>
  <% langname = program_description.language.name %>
  <strong><%= langname %> title:</strong><%= program_description.title %><br/>
  <strong><%= langname %> public description:</strong><br/>
  <%= program_description.public_description %><br/>
  <strong><%= langname %> private description:</strong><br/>
  <%= program_description.private_description %><br/>
</p>