<% langname = program_description.language.name %>

<p><label for="program_description_title"><%= langname %> Title</label><br/>
<%= program_description.title %></p>

<p><label for="program_description_public_description"><%= langname %> Public description</label><br/>
<%= program_description.public_description %></p>

<p><label for="program_description_private_description"><%= langname %> Private description</label><br/>
<%= program_description.private_description %></p>
