<tr>
  <th>Belongs to programs</th>:
  <td>
  <% for program in belongs_to_programs %>
    <div><%= link_to program.title, :controller => 'programs', :action => 'show', :id => program.id %></div>
  <% end %>
  </td>
</tr>
