<h2>New event</h2>
<table>
  <%= render :partial => 'event' %>

  <tr>
  <th class="edit"><!-- <INPUT type="reset" name="reset" disabled="true" onClick="javascript:document.edit_form.reset.disabled=true"> --></th>
  <td class="edit"><%= submit_tag 'Create' %></td>
  </tr>
</table>

