<h2>New event</h2>

<%= start_form_tag({:action => 'create'}, :name => "edit_form", 'onChange' => "javascript:document.edit_form.reset.disabled=false") %>
<table>
  <%= render :partial => 'event' %>

  <tr>
  <th class="edit"><!-- <INPUT type="reset" name="reset" disabled="true" onClick="javascript:document.edit_form.reset.disabled=true"> --></th>
  <td class="edit"><%= submit_tag 'Create' %></td>
  </tr>
<%= end_form_tag %>
</table>

<%= link_to 'Back', :action => 'list' %>
