<h1>test index</h1>

<p>
<% programs = Program.find(:all) %>
<% for program in programs %>
   <%= link_to program.title, :controller => 'programs', :action => 'edit', :id => program.id %>: <%= program.source? %><br/>
<% end %>
</p>