Hello!

This message was sent to you by Elaine @ elaine.assembly.org.
You should change your password at the below address:

   https://elaine.assembly.org/account/change_password?auth_token=<%= @auth_token %>

Your login is '<%= @login %>'.

Thank you and please remember to use Elaine!


-- 
Elaine administration, #elaine @ IRCNet
