<% for column in Vod.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @vod.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @vod %> |
<%= link_to 'Back', :action => 'list' %>
