<% for column in Playlist.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @playlist.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @playlist %> |
<%= link_to 'Back', :action => 'list', :channel_id => @channel_id %>
