<p>The timeline display gives you detailed information about broadcasting playlist. You can drag the timeline and click on the items to get more information.</p>

<div id="playlist-timeline" style="height: 300px; border: 1px solid #aaa"></div>
