<h1>Editing video_format</h1>

<% form_tag :action => 'update', :id => @video_format do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @video_format %> |
<%= link_to 'Back', :action => 'list' %>
