<h2>The Great Big TODO</h2>

<div style="max-width: 800px">

  <p>TODOs are listed in finnish since this is mostly to keep me (Kjue)
  updated on what I propably should be doing next.</p>
  
  <ul>
    <li>Hakutoiminnot
    <li>merkitse käynnissä oleva ohjelma eri värillä timelinessa ja playlistissä
    <li><i>timezones?</i>
    <li>broadcast log ja timelinen kytkennät
    <li>
  </ul>
    
</div>